# virtualenv
venv/

# PyCharm
.idea/

# test file upload folder
files/

# test reports for CircleCI folder
test/test-reports

# config file
# app_config.py

# Python bytecode files
*.pyc

# log files
logs/
*.log

# SQLite files
*.sqlite
*.db
*.db-journal
